html, body {
  margin: 0;
  height: 100%;
}

.label{
    text-anchor: middle;
    font-size: 1.5em;
}

circle.back {
    fill: white;
    stroke: black;
}

circle.back:hover {
    fill: lightblue;
    stroke: midnightblue;
    # background-color: yellow;
}

